<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt10">
      <div class="col-md-6 offset-md-3">
        <mat-card class="mat-card-container">
          <mat-card-content >
            <mat-card-header>

            </mat-card-header>
            <div class="container  text-center">
              <mat-card-title>¿Ha olvidado la contraseña?</mat-card-title>

            </div>
            <mat-card-content>
              <p>Para restaurar la contraseña, debe de ingresar su nombre de usuario, recibirá un correo con la nueva contraseña al correo asociado.</p>
            </mat-card-content>

            <div class="form-container">
              <br><br>
              <form  (ngSubmit)="formSubmit()" [formGroup]="usernameForm"  >
                <mat-form-field class="full-width"  appearance = "outline">

                  <input  required formControlName="username" matInput placeholder="Usuario">
                  <mat-error *ngIf="usernameForm.controls.username.errors?.['minlength']">El nombre de usuario debe de contener minimo 9 caracteres. </mat-error>
                  <mat-error *ngIf="usernameForm.controls.username.errors?.['maxlength']">El nombre de usuario debe de contener maximo 9 caracteres. </mat-error>
                  <mat-error *ngIf="usernameForm.controls.username.errors?.['pattern']">Caracteres no validos. </mat-error>
                </mat-form-field>
                <br><br>

                <div class="button-container text-center" >
                  <button type = "submit" class="button-signin" mat-raised-button color="primary" ><strong>Enviar</strong></button>
                </div>
              </form>
              <button  mat-button  color="primary"   [routerLink]="'/login'"><span>  Iniciar sesión</span></button>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
