.example-card {
  max-width: 80%;
}
table {
  width: 20%;
}
.correos-card {
  max-width: 80%;
}
.example-button-row .mat-mdc-button-base {
  margin: 5px 5px 5px 0;
}

.mat-table-container{
  padding: 3%;

}

.mat-table-wrapper-tables{
  padding: 1%;

}

.mat-elevation-z8{
  max-width: 90%;
}
