

<mat-card class="mat-table-container">

  <h1>Solicitud de Vacaciones</h1>
  <div class="mat-elevation-z8">
  <mat-card class="mat-card-wrapper-tables">
<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Escoger la fecha de inicio</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Escoge una fecha</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [min]="todayDate" [(ngModel)]="fechaInicio" formControlName="firstCtrl" (dateChange)="updateDOB($event)" [matDatepicker]="picker" required>
        <mat-hint>MM/dd/aaaa</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-raised-button class="mat-raised-button-vacaciones" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable" (click)="onClick()" >
    <form [formGroup]="secondFormGroup" >
      <ng-template matStepLabel  >Escoger la cantidad de dias</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Días a disfrutar</mat-label>
        <input matInput formControlName="secondCtrl" type="number" min="0" max="15" [(ngModel)]="vacacion.numDias"  placeholder="dias"
               required>
      </mat-form-field>
      <div>
        <button mat-raised-button class="mat-raised-button-vacaciones" matStepperPrevious>Atras</button>
        <button mat-raised-button class="mat-raised-button-vacaciones" matStepperNext (click)="onClick()">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable"  >
    <form [formGroup]="thirdFormGroup" >
      <ng-template matStepLabel>  <div class="stepper-header-overlay" (click)="onClick()" ></div> Verificar datos </ng-template>

      <br><br>
      <mat-label><strong> Fecha de Inicio: </strong> </mat-label> <mat-label>{{vacacion.fechaInicio}}</mat-label>
      <br><br>
      <mat-label><strong> Cantidad de dias: </strong></mat-label> <mat-label>{{vacacion.numDias}}</mat-label>
      <br><br>
      <mat-label><strong> Fecha de regreso: </strong></mat-label> <mat-label>{{vacacion.fechaFinal}}</mat-label>
      <mat-error *ngIf="vacacion.fechaFinal==''">Cantidad de días no validos. Posiblemente ya ha solicitado más de 15 días de vacaciones. </mat-error>

      <br><br>
      <div>
        <button mat-raised-button class="mat-raised-button-vacaciones" matStepperPrevious >Atras</button>
        <button mat-raised-button class="mat-raised-button-vacaciones"  [disabled]="vacacion.fechaFinal==''"  matStepperNext>Siguiente</button>
        <button mat-raised-button class="mat-raised-button-vacaciones" (click)="stepper.reset()">Cancelar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel  >Enviar</ng-template>
    <p>Enviar solicitud de vacaciones para ser aprobada.</p>
    <div>
      <button mat-raised-button matStepperNext class="mat-raised-button-vacaciones" [disabled]="vacacion.fechaFinal==''" (click)="sendClick()"  (click)="stepper.reset()">Enviar solicitud</button>
      <button mat-raised-button class="mat-raised-button-vacaciones" (click)="stepper.reset()">Cancelar</button>
      <button mat-raised-button class="mat-raised-button-vacaciones" (click)="stepper.reset()">Crear otra solicitud</button>
    </div>
  </mat-step>
</mat-stepper>
  </mat-card>
    </div>
<br><br> <br><br> <br><br>
<h1>Historial de solicitudes de vacaciones</h1>
<br><br>
<div class="mat-elevation-z8">
<mat-card class="mat-card-wrapper-tables">
  <table mat-table  [dataSource]="tableDataSource1" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let soli"> {{soli.id}} </td>
    </ng-container>
    <ng-container matColumnDef="FechaCreacion">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>  Fecha de Creacion </th>
      <td mat-cell *matCellDef="let soli"> {{soli.fechaCreacion}} </td>
    </ng-container>
    <ng-container matColumnDef="Estado">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Estado </th>
      <td mat-cell   *matCellDef="let soli">

          <mat-chip *ngIf="soli.estado==='En espera'"   selected   style="background-color: #ffe433">{{soli.estado}}</mat-chip>
          <mat-chip *ngIf="soli.estado==='Aceptado'" selected   style="background-color: #5fe600"   >{{soli.estado}}</mat-chip>
          <mat-chip *ngIf="soli.estado==='Rechazada'" selected   style="background-color: #ff5600"  >{{soli.estado}}</mat-chip>

      </td>

    </ng-container>
    <ng-container matColumnDef="Solicitud">
      <th mat-header-cell *matHeaderCellDef> Solicitud </th>
      <td mat-cell *matCellDef="let soli">  <button mat-raised-button color="primary"  (click)="openDialog(soli.vacacion)">Ver</button> </td>

    </ng-container>
    <th mat-header-cell *matHeaderCellDef> Solicitud </th>
    <td mat-cell *matCellDef="let soli">  <button mat-raised-button color="primary"  (click)="onClickVerSolicitud(soli.vacacion)">Ver</button> </td>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let emprow; columns: displayedColumns;"></tr>

  </table>
  <div class="nc" *ngIf="tableDataSource1.data.length === 0">No hay solicitudes de vacaciones.</div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</mat-card>

</div>

  </mat-card>
