mat-grid-tile {
  background: lightblue;
}

.mat-card-container{
  padding: 3%;
}

.mat-card-wrapper-tables{
  padding: 1%;
}
.mat-raised-button-vacaciones{
  margin: 6px;
}
.mat-table-container{
  padding: 3%;

}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
