<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt10">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-content>
          <div class="container  text-center">
          <img src="../../../assets/coarsa.png" width="300" height="200">
          </div>

          <h1 class="text-center"> Inicio de Sesión </h1>
            <div class="form-container">


          <form (ngSubmit)="formSubmit()" >
            <mat-form-field class="full-width"  appearance = "fill">
              <mat-icon matPrefix>person</mat-icon>

              <input [(ngModel)]="loginData.username"  required name = "username" matInput placeholder="Usuario">


            </mat-form-field>
            <br><br>
            <mat-form-field class="full-width"  appearance = "fill">
              <mat-icon matPrefix>lock</mat-icon>

              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="loginData.password" required type="password" name = "password" matInput placeholder="Contraseña">

            </mat-form-field>
            <br><br>
            <div class="container text-center" >
              <button type = "submit" class="button-signin" mat-raised-button color="primary">Iniciar sesión</button>
            </div>
          </form>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
