


<mat-card class="mat-table-container">
  <h1>Actualizar datos del usuario </h1>
  <mat-card class="example-card">
    <mat-card-header>



      <mat-card-title>Cambiar contraseña del usuario: {{username}} </mat-card-title>
      <br><br><br><br>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form (ngSubmit)="formSubmitPassword()" [formGroup]="userFormGroup"  >

          <mat-form-field hintLabel="Contraseña actual" appearance="fill">

            <mat-label> Contraseña actual</mat-label>
            <input matInput  id="actualpass" type="password" formControlName="currentPassword" name="actualpass" [(ngModel)] = "changePassword.currentPassword">
            <mat-error *ngIf="userFormGroup.controls.currentPassword.errors?.['required']">Debe de colocar datos correctos. </mat-error>
            <mat-error *ngIf="userFormGroup.controls.currentPassword.errors?.['minlength']">Debe de colocar datos correctos  ( minimo 6 caracteres). </mat-error>
          </mat-form-field>


          <mat-form-field hintLabel=" Nueva contraseña  " appearance="fill">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput  id="newpass" type="password"  formControlName="newPassword" name="newpass" [(ngModel)] = "changePassword.newPassword">
            <mat-error *ngIf="userFormGroup.controls.newPassword.errors?.['required']">Debe de colocar datos correctos ( minimo 6 caracteres). </mat-error>
            <mat-error *ngIf="userFormGroup.controls.newPassword.errors?.['minlength']">Debe de colocar datos correctos  ( minimo 6 caracteres). </mat-error>

          </mat-form-field>

          <mat-form-field hintLabel="Confirmar nueva contraseña" appearance="fill">
            <mat-label>Confirmar nueva contraseña</mat-label>
            <input matInput  id="confnewpass" type="password"  formControlName="confirmNewPassword" name="confnewpass" [(ngModel)] = "changePassword.confirmPassword">
            <mat-error *ngIf="userFormGroup.controls.confirmNewPassword.errors?.['required']">Debe de colocar datos correctos ( minimo 6 caracteres). </mat-error>
            <mat-error *ngIf="userFormGroup.controls.confirmNewPassword.errors?.['minlength']">Debe de colocar datos correctos  ( minimo 6 caracteres). </mat-error>
          </mat-form-field>

          <div class="button-actualizar">
            <button mat-raised-button type="submit" color="primary" (click)="formSubmitPassword()">Actualizar</button>
            <button mat-raised-button [routerLink]="'/user-dashboard/perfil'">Cancelar</button>
          </div>


        </form>
      </div>
    </mat-card-content>

  </mat-card>

</mat-card>
