<div class="bootstrap-wrapper">
  <div class="container">
    <div class = "row" style = "margin-top : 20px;">
      <div class = "col-md-6 offset-md-3">
        <mat-card class="example-card">
          <mat-card-content>
        <div class="container text-center">
          <img src="assets/icon.png" width="100" height="100">


        </div>
        <h1 class="text-center"> Registrarse</h1>

            <div class="form-container">
          <form (ngSubmit) = "formSubmit()" [formGroup]="userReg">
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Nombre de usuario</mat-label>
              <input required formControlName="username" type="text" matInput >
              <mat-hint>El nombre de usuario debe ser único</mat-hint>

            </mat-form-field>

            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Contraseña</mat-label>
              <input    formControlName="password" type="password" name = "password" type = "password" matInput placeholder="Digite su contraseña">
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Confirmar  contraseña</mat-label>
              <input  required formControlName="confirmPassword" type="password" name = "password" type = "password" matInput >
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Nombre</mat-label>
              <input formControlName="firstName" name = "nombre" matInput >
            </mat-form-field>

            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Apellido</mat-label>
              <input formControlName="lastName" name = "apellido" matInput >
            </mat-form-field>

            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Email</mat-label>
              <input  formControlName="email" name = "email" type="email" matInput >
            </mat-form-field>

            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Telefono</mat-label>
              <input required formControlName="telefono" name = "telefono" matInput >

            </mat-form-field>
            <div class="container text-center" >
              <button mat-raised-button type="submit" class="button-registrar" [disabled]="userReg.invalid" color="primary">Registrar</button>

            </div>
          </form>
            </div>
            </mat-card-content>
        </mat-card>
        <br><br><br>
      </div>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
